@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
.hero{
    margin: 0px 120px;
    margin-top: 100px;
}
.hero-text{
    color: rgb(238, 236, 236);
    font-size: 100px;
    font-weight: 300;
    line-height: 130px;
    font-family: "Poetsen One", sans-serif;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap:50px;
    padding:5px 8px;
    cursor: pointer;
    background-color: white;
    margin-top: 60px;
    padding-left: 30px;
    border-radius: 60px;
    width: fit-content;
}
.hero-explore p{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap:23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    cursor: pointer;
    background-color: white;
}
.hero-dot.orange{
    background-color: slategrey;
}
.hero-play{
    display: flex;
    align-items: center;
    gap:30px;
    cursor: pointer;
}
.hero-play p{
    color: white;
    font-size: 19px;
}
@media only screen and (max-width: 600px) {

.hero-text{
    font-size:70px;
    
}
.hero{
    margin-left:60px
}
.hero-explore{
    display:none;
}
.hero-dot-play{
    display:flex;
    justify-content:space-between;
}
.hero-dots{
    width:70px;
    height:50px;
}
.hero-play{
    width:50px;
    height:50px;
}
}
